<div class="container">
  <div class="row"><a href="/"><h1>Red Alerts</h1></a></div>
  <div class="row strap">Tracking terms in Google Alerts.</div>
  <div class="row"><a href="/term/ben-simmons">Ben Simmons</a>&nbsp;|&nbsp;<a href="/term/esports">Esports</a>&nbsp;|&nbsp;<a href="/term/esports-wagering">Esports Wagering</a></div>
  <div class="row"><%= @html %></div>
</div>
